/* Code tidied up by ScrapBook */
fieldset { margin-bottom: 1em; padding: 0.5em; }
form { margin: 0px; padding: 0px; }
img { border: 0px none; }
table { border-collapse: collapse; }
.clear-block::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clear-block { display: inline-block; }
.clear-block { display: block; }
tbody { border-top: 1px solid rgb(204, 204, 204); }
.item-list ul { margin: 0px 0px 0.75em; padding: 0px; }
.item-list ul li { margin: 0px 0px 0.25em 1.5em; padding: 0px; list-style: outside none disc; }
.form-item { margin-top: 1em; margin-bottom: 1em; }
.form-item .description { font-size: 0.85em; }
.form-item label { display: block; font-weight: bold; }
.form-item label.option { display: inline; font-weight: normal; }
.marker, .form-required { color: rgb(255, 0, 0); }
.container-inline div, .container-inline label { display: inline; }
html.js fieldset.collapsed { border-bottom-width: 0px; border-left-width: 0px; border-right-width: 0px; margin-bottom: 0px; height: 1em; }
html.js fieldset.collapsed * { display: none; }
html.js fieldset.collapsed legend { display: block; }
html.js fieldset.collapsible legend a { padding-left: 15px; background: transparent url("menu-expanded.png") no-repeat scroll 5px 75%; }
html.js fieldset.collapsed legend a { background-image: url("menu-collapsed.png"); background-position: 5px 50%; }
html.js fieldset.collapsible { position: relative; }
html.js fieldset.collapsible legend a { display: block; }
html.js fieldset.collapsible .fieldset-wrapper { overflow: auto; }
.resizable-textarea { width: 95%; }
.resizable-textarea .grippie { height: 9px; overflow: hidden; background: rgb(238, 238, 238) url("grippie.png") no-repeat scroll center 2px; border-width: 0px 1px 1px; border-style: solid; border-color: rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; cursor: s-resize; }
html.js .resizable-textarea textarea { margin-bottom: 0px; width: 100%; display: block; }
ul.links { margin: 0px; padding: 0px; }
ul.links li { display: inline; list-style-type: none; padding: 0px 0.5em; }
.block ul { margin: 0px; padding: 0px 0px 0.25em 1em; }
tbody { border: 0px none; }
ul.nice-menu, ul.nice-menu ul { z-index: 5; position: relative; }
ul.nice-menu li { position: relative; }
ul.nice-menu a { display: block; }
ul.nice-menu ul, #header-region ul.nice-menu ul { position: absolute; visibility: hidden; }
ul.nice-menu ul li { display: block; }
ul.nice-menu::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
ul.nice-menu li:hover ul, ul.nice-menu li.menuparent li:hover ul, ul.nice-menu li.menuparent li.menuparent li:hover ul, ul.nice-menu li.menuparent li.menuparent li.menuparent li:hover ul, ul.nice-menu li.over ul, ul.nice-menu li.menuparent li.over ul, ul.nice-menu li.menuparent li.menuparent li.over ul, ul.nice-menu li.menuparent li.menuparent li.menuparent li.over ul, #header-region ul.nice-menu li:hover ul, #header-region ul.nice-menu li.menuparent li:hover ul, #header-region ul.nice-menu li.menuparent li.menuparent li:hover ul, #header-region ul.nice-menu li.over ul, #header-region ul.nice-menu li.menuparent li.over ul, #header-region ul.nice-menu li.menuparent li.menuparent li.over ul { visibility: visible; }
ul.nice-menu li.menuparent ul, #header-region ul.nice-menu li.menuparent ul { overflow: visible ! important; }
ul.nice-menu-down { height: 39px; width: 974px; float: left; padding: 0px 13px; background-image: url("nav.jpg"); }
ul.nice-menu-down li { float: left; height: 39px; background: transparent url("nav.gif") no-repeat scroll right 12px; padding-right: 3px; }
ul.nice-menu-down li.last { background: transparent none repeat scroll 0% 0%; padding-right: 0px; }
ul.nice-menu-down li li { border-top: 0px none; }
ul.nice-menu-down a { color: rgb(255, 255, 255); float: left; padding-top: 10px; font-size: 10pt; font-weight: bold; padding-right: 10px; padding-left: 10px; }
ul.nice-menu-down a:hover, ul.nice-menu-down a.active { float: left; height: 37px; padding-left: 10px; background-image: url("nav_bg1.jpg"); background-position: left center; padding-right: 0px; padding-top: 0px; text-decoration: none; }
ul.nice-menu-down a:hover span, ul.nice-menu-down a.active span { background-image: url("nav_bg2.jpg"); background-repeat: no-repeat; background-position: right center; float: left; padding-top: 10px; height: 27px; padding-right: 10px; }
ul.nice-menu-down li.menuparent ul { list-style: outside none none; top: 39px; width: 115px; }
ul.nice-menu-down li.menuparent ul li { height: 29px; background: rgb(8, 96, 168) none repeat scroll 0% 0%; display: block; padding-left: 3px; padding-right: 3px; width: 118px; }
ul.nice-menu-down li.menuparent ul li.last { height: 29px; background: rgb(8, 96, 168) none repeat scroll 0% 0%; display: block; padding-left: 3px; padding-right: 3px; width: 118px; }
ul.nice-menu-down li.menuparent ul a:hover, ul.nice-menu-down li.menuparent ul a.active { float: left; height: 29px; padding-left: 10px; background: rgb(248, 169, 16) none repeat scroll 0% 0%; padding-right: 10px; padding-top: 0px; text-decoration: none; display: block; width: 98px; }
ul.nice-menu-down li.menuparent ul a:hover span, ul.nice-menu-down li.menuparent ul a.active span { background: rgb(248, 169, 16) none repeat scroll 0% 0%; float: left; padding-top: 5px; padding-right: 3px; display: block; width: 98px; height: 24px; }
.views-view-grid tbody { border-top: medium none; }
.rate-widget-emotion ul { list-style: outside none none; overflow: hidden; }
.rate-widget-emotion .item-list ul li { background-image: none; padding: 0px; }
.rate-widget-emotion ul li { float: left; list-style: outside none none; }
.rate-widget-emotion ul li a { display: block; float: left; }
.rate-emotion-btn { display: inline-block; background: rgb(238, 238, 238) none repeat scroll 0% 0%; margin-right: 5px; padding: 0px 2px; color: rgb(102, 102, 102) ! important; border: 1px solid rgb(204, 204, 204); }
.rate-emotion-btn:hover { background: rgb(221, 221, 221) none repeat scroll 0% 0%; text-decoration: none; }
fieldset { margin-bottom: 1em; padding: 0.5em; }
form { margin: 0px; padding: 0px; }
img { border: 0px none; }
table { border-collapse: collapse; }
.clear-block::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clear-block { display: inline-block; }
.clear-block { display: block; }
tbody { border-top: 1px solid rgb(204, 204, 204); }
.item-list ul { margin: 0px 0px 0.75em; padding: 0px; }
.item-list ul li { margin: 0px 0px 0.25em 1.5em; padding: 0px; list-style: outside none disc; }
.form-item { margin-top: 1em; margin-bottom: 1em; }
.form-item .description { font-size: 0.85em; }
.form-item label { display: block; font-weight: bold; }
.form-item label.option { display: inline; font-weight: normal; }
.marker, .form-required { color: rgb(255, 0, 0); }
.container-inline div, .container-inline label { display: inline; }
html.js fieldset.collapsed { border-bottom-width: 0px; border-left-width: 0px; border-right-width: 0px; margin-bottom: 0px; height: 1em; }
html.js fieldset.collapsed * { display: none; }
html.js fieldset.collapsed legend { display: block; }
html.js fieldset.collapsible legend a { padding-left: 15px; background: transparent url("menu-expanded.png") no-repeat scroll 5px 75%; }
html.js fieldset.collapsed legend a { background-image: url("menu-collapsed.png"); background-position: 5px 50%; }
html.js fieldset.collapsible { position: relative; }
html.js fieldset.collapsible legend a { display: block; }
html.js fieldset.collapsible .fieldset-wrapper { overflow: auto; }
.resizable-textarea { width: 95%; }
.resizable-textarea .grippie { height: 9px; overflow: hidden; background: rgb(238, 238, 238) url("grippie.png") no-repeat scroll center 2px; border-width: 0px 1px 1px; border-style: solid; border-color: rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; cursor: s-resize; }
html.js .resizable-textarea textarea { margin-bottom: 0px; width: 100%; display: block; }
ul.links { margin: 0px; padding: 0px; }
ul.links li { display: inline; list-style-type: none; padding: 0px 0.5em; }
.block ul { margin: 0px; padding: 0px 0px 0.25em 1em; }
.rate-button { position: relative; }
.views-view-grid tbody { border-top: medium none; }
* { margin: 0px; padding: 0px; }
a { text-decoration: none; color: rgb(33, 33, 33); }
a:hover, a:hover .fr { color: rgb(196, 0, 1); }
body { background-color: rgb(8, 96, 168); font-family: Arial,Verdana,STHeiTi,simsun,sans-serif; color: rgb(51, 51, 51); }
.fl { float: left; }
.fr { float: right; }
li { list-style: outside none none; }
.wrap_bg { width: 1000px; margin: 0px auto; font-size: 12px; }
.wrap { background-color: rgb(255, 255, 255); width: 1000px; float: left; }
#headertop { height: 24px; width: 990px; float: left; padding: 5px 5px 0px; background-color: rgb(235, 235, 235); }
#headertop .fl { background: transparent url("logo_small.gif") no-repeat scroll 0% 0%; margin-top: 3px; padding-left: 15px; }
#header { height: 81px; width: 1000px; float: left; background: transparent url("header.png") no-repeat scroll 0% 0%; }
#header #logo { float: left; height: 77px; width: 210px; }
#header #logo a { width: 210px; height: 77px; display: block; text-indent: -1000px; }
#header .g_item { height: 51px; float: left; padding-top: 19px; text-align: center; }
#header .g_item p { line-height: 25px; }
#header .g_item1 { padding-left: 47px; width: 170px; }
#header .g_item2 { padding-left: 63px; width: 160px; }
#header .g_item3 { padding-left: 80px; width: 160px; }
#header .fr { width: 67px; line-height: 22px; padding-top: 9px; }
#header .fr a { color: rgb(179, 13, 30); text-decoration: underline; }
#sub_nav { float: left; height: 22px; width: 975px; padding: 12px 0px 0px 25px; font-weight: bold; background: transparent url("nav.jpg") repeat scroll left bottom; }
#sub_nav a { font-weight: normal; font-family: Arial,Helvetica,sans-serif; }
#sub_nav a:hover { color: rgb(198, 0, 0); }
#sub_nav ul.fl { background-image: none; width: auto; float: left; }
#sub_nav .fl li { float: left; font-size: 9pt; padding: 0px 8px; background: transparent url("narrow8.gif") no-repeat scroll left 6px; }
#sub_nav .fl li.first { background: transparent none repeat scroll 0% 0%; }
#footer { text-align: center; color: rgb(81, 151, 208); height: 108px; background: transparent url("footer.jpg") repeat-x scroll 0% 0%; width: 1000px; float: left; }
#friendlinktext a { color: rgb(209, 230, 246); }
#friendlinktext { height: 25px; padding-top: 8px; width: 1000px; text-align: center; color: rgb(209, 230, 246); margin-bottom: 10px; }
.box { margin: 50px 0px; }
h1 { font-size: 16px; }
#leftcontent, #taxonomyleft, #bookpage { float: left; width: 670px; }
.container { background-color: rgb(255, 255, 255); padding: 10px 10px 0px; width: 980px; float: left; }
#bookpage h1, .not-logged-in #leftcontent h1 { border-left: 1px solid rgb(212, 226, 239); border-right: 1px solid rgb(212, 226, 239); width: 668px; text-align: center; background-color: rgb(245, 250, 254); padding-top: 15px; }
.not-logged-in .bread_nav { background: transparent url("breadnav_sx1.jpg") repeat-x scroll left top; height: 25px; width: 669px; padding: 9px 0px 0px 1px; }
#leftcontent .node { width: 668px; background-color: rgb(245, 250, 254); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(212, 226, 239) rgb(212, 226, 239); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin-bottom: 10px; }
.contentsidebar { float: right; width: 300px; margin-bottom: 5px; }
.tags ul { display: inline; }
#block-book-0, #block-views-hottest_news-block_2, #block-views-video_show-block_2 { margin: 5px 0px 10px; }
#block-views-hottest_news-block_2 h2, #block-views-video_show-block_2 h2, #block-views-idcbook-block_1 h2, #block-book-0 h2 { background: transparent url("content_hotnews.jpg") no-repeat scroll 0px 0px; color: rgb(255, 255, 255); font-size: 14px; height: 22px; width: 290px; padding: 8px 0px 0px 10px; }
#block-views-hottest_news-block_2 ul, #block-views-idcbook-block_1 ul { padding: 0px; margin-top: 4px; }
#block-book-0 .content, #block-views-hottest_news-block_2 .item-list, .video-rightblock .view-content, #block-views-idcbook-block_1 .item-list { border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(156, 206, 242) rgb(156, 206, 242); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 5px; }
#block-views-hottest_news-block_2 .item-list li, #block-views-idcbook-block_1 .item-list li { background: transparent url("narrow4.gif") no-repeat scroll left 8px; line-height: 1.5em; padding-left: 10px; width: 270px; list-style: outside none none; margin: 0px 0px 8px; }
.video-rightblock .view-content { padding: 12px 0px 0px 20px; }
.video-rightblock table a { color: rgb(0, 60, 140); }
.video-rightblock table a:hover { color: rgb(196, 0, 1); }
.video-rightblock table tr td { text-align: center; padding-bottom: 12px; }
.video-rightblock table tr .col-1 { padding-right: 15px; }
.video-rightblock table tr img, .idc-video-page table tr img { border: 1px solid rgb(212, 226, 239); padding: 2px; margin-bottom: 7px; }
.video-rightblock table tr { background: transparent url("vdtitle_bg.jpg") no-repeat scroll 0px 87px; width: 270px; }
#hotnav { height: 190px; width: 202px; border: 1px solid rgb(195, 228, 246); float: right; padding: 1px; margin-right: 9px; background-color: rgb(255, 255, 255); margin-left: 8px; }
.hotnav_title { background-color: rgb(195, 228, 246); height: 30px; width: 202px; }
#hotnav h2 { color: rgb(6, 109, 185); font-size: 13px; background: transparent url("hotnav_arrow.jpg") no-repeat scroll 6px 7px; padding: 7px 0px 0px 24px; }
#block-block-11 { height: 190px; }
#block-block-11 ul { padding: 0px; margin: 4px 0px 0px; }
#block-block-11 li { list-style-type: none; background: transparent none repeat scroll 0% 0%; height: 18px; padding: 7px 0px 0px 7px; text-align: right; }
.storycontent .rate-widget { clear: both; }
.node .content_copyright { clear: both; background-color: rgb(188, 224, 245); height: 18px; width: 333px; margin: 20px 0px 10px 7px; padding-top: 3px; }
.content_copyright span { color: rgb(9, 101, 176); font-size: 12px; height: 16px; width: 330px; padding: 2px 0px 0px 7px; }
#author_info ul.links { display: inline; }
#author_info ul.links a { text-decoration: underline; color: rgb(147, 147, 147); }
#author_info span { color: rgb(187, 187, 187); }
#author_info { text-align: center; margin-left: 7px; margin-bottom: 10px; padding-top: 7px; border-bottom: 1px dotted rgb(212, 226, 239); width: 652px; color: rgb(187, 187, 187); padding-bottom: 3px; }
#author_info ul.links li { padding: 0px; }
#leftcontent .node .storycontent p, #taxonomyleft .node .storycontent p, #reply-comment .node .storycontent p { font-size: 13px; line-height: 20px; padding-left: 20px; padding-right: 18px; margin-bottom: 8px; }
#reply-comment .node .tags, #leftcontent .node .tags, #taxonomyleft .node .tags { border-top: 1px dotted rgb(212, 226, 239); margin: 3px 0px 15px 8px; width: 647px; padding: 6px 0px 0px 7px; font-weight: bold; }
#leftcontent .tags ul.links li, #taxonomyleft .tags ul.links li { padding: 0px; font-weight: normal; display: inline; }
#edit-comment { width: 648px; height: 91px; border: 1px solid rgb(212, 226, 239); background: rgb(237, 245, 250) none repeat scroll 0% 0%; }
.similar_article { border: 1px solid rgb(212, 226, 239); height: 195px; margin: 9px; width: 648px; }
#block-views-similarterms-block_1 h2 { height: 20px; border-bottom: 1px solid rgb(212, 226, 239); color: rgb(6, 109, 185); font-size: 12px; padding: 8px 0px 0px 12px; }
.similar-article ul { background-color: rgb(255, 255, 255); height: 166px; padding: 0px; }
.similar-article ul li { background: transparent url("hotnav_li.gif") no-repeat scroll 1px 5px; margin: 13px 0px 0px; list-style-type: none; display: inline; float: left; padding-left: 9px; border-bottom: 1px dotted rgb(218, 217, 214); width: 295px; }
.similar-article ul li .views-field-title { margin-bottom: 3px; }
.similar-article ul li.views-row-odd { margin-left: 12px; margin-right: 16px; }
#comments .box { border: 1px solid rgb(212, 226, 239); margin: 0px 0px 20px; padding: 2px 10px 10px; background-color: rgb(245, 250, 254); clear: both; }
span#comment_title { font-weight: bold; font-size: 13px; margin-right: 483px; }
.commnet_count { background: transparent url("comment_info.gif") no-repeat scroll 0px 0px; padding-left: 17px; margin-left: 25px; }
#comment-form .form-item label { display: inline; float: left; margin-right: 3px; margin-top: 5px; }
#comment-form #edit-name { width: 85px; }
#comment-form #edit-mail { width: 140px; }
#comment-form #edit-submit { margin-left: 25px; }
#comment-form #edit-homepage { width: 160px; }
#comment-form #edit-name, #comment-form #edit-mail, #comment-form #edit-homepage { margin-right: 5px; line-height: 16px; border: 1px solid rgb(212, 226, 239); padding-top: 2px; }
#comment-form #edit-name-wrapper, #comment-form #edit-mail-wrapper, #comment-form #edit-homepage-wrapper { float: left; }
#comment-form .form-item { margin: 0px; }
#vistor_comment { border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(212, 226, 239) rgb(212, 226, 239) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding-left: 10px; background-color: rgb(245, 250, 254); padding-top: 5px; height: 20px; }
#comments .box h2 { font-size: 13px; margin-bottom: 9px; }
#comments .grippie { margin-bottom: 10px; }
.resizable-textarea .grippie { margin-bottom: 10px; }
.container .box h2 { margin: 5px 0px; }
#block-views-idcbook-block_1 { margin-bottom: 10px; }
.fr_search { float: right; width: 315px; }
#search-theme-form .container-inline div { float: left; }
#search-theme-form #edit-search-theme-form-1-wrapper { margin-left: 2px; margin-right: 4px; }
#search-theme-form .form-item { margin: 0px; }
#edit-search-theme-form-1 { width: 150px; }
.box h2 { font-size: 14px; }
.resizable-textarea { width: 95.2%; }
#comment-form #edit-mycaptcha-ask-wrapper { margin: 5px 0px 20px; }
#comment-form #edit-mycaptcha-ask-wrapper #edit-mycaptcha-ask { border: 1px solid rgb(212, 226, 239); float: left; line-height: 16px; margin-right: 15px; padding-top: 2px; width: 80px; }
#edit-mycaptcha-ask-wrapper .description { font-size: 13px; padding-top: 3px; }
#edit-mycaptcha-ask-wrapper .description a { color: rgb(8, 96, 168); }
#footer p { padding: 2px; }
#hotnav .block ul li a { margin-right: 15px; }
.bread_nav ul.links { display: inline; }
#author_info ul.links a { color: rgb(11, 59, 140); text-decoration: none; }
#leftcontent .node .storycontent p, #taxonomyleft .node .storycontent p, #reply-comment .node .storycontent p { font-size: 14px; }
