/* Code tidied up by ScrapBook */
body { font-family: "Microsoft Yahei"; color: rgb(51, 51, 51); }
ul, ol, dl, dt, dd { margin: 0px; padding: 0px; }
ul { list-style: outside none none; }
a { color: rgb(102, 102, 102); }
a:hover { color: rgb(69, 182, 247); text-decoration: none; }
a:focus { outline: 0px none; }
.thumbnail { border: medium none; padding: 0px; margin: 0px; }
.btn { border-radius: 2px; padding: 6px 15px; }
.btn-lg, .btn-group-lg > .btn { font-size: 18px; border-radius: 4px; padding: 12px 28px; }
@media (min-width: 768px) {
  .container { width: auto; }
}
@media (min-width: 992px) {
  .container { width: auto; }
}
@media (min-width: 1200px) {
  .container { width: auto; }
}
img { max-width: 100%; max-height: 100%; }
body { background-color: rgb(246, 246, 246); position: relative; }
.container { position: relative; margin: 0px auto; max-width: 1200px; padding: 0px; }
.header { position: relative; top: 0px; left: 0px; right: 0px; z-index: 9; background-color: rgb(255, 255, 255); padding: 55px 0px 20px; margin-bottom: 15px; border-bottom: 1px solid rgba(0, 0, 0, 0.08); border-color: rgba(0, 0, 0, 0.08); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.03); }
.content-wrap { width: 100%; float: left; }
.content { position: relative; min-height: 500px; margin-right: 380px; margin-bottom: 15px; }
.sidebar { float: left; margin-left: -360px; width: 360px; position: relative; }
.single .content { padding: 0px 20px; background-color: rgb(255, 255, 255); border: 1px solid rgb(234, 234, 234); border-radius: 4px; }
.logo { overflow: hidden; float: left; margin: 0px; }
.logo a { height: 32px; display: block; overflow: hidden; font-size: 0px; }
.logo img { vertical-align: top; max-height: 32px; display: block; margin-bottom: 32px; }
.brand { font-size: 14px; float: left; line-height: 15px; color: rgb(187, 187, 187); padding-left: 10px; position: relative; top: 1px; border-left: 2px solid rgb(234, 234, 234); margin-left: 10px; overflow: hidden; height: 30px; }
.site-navbar { float: right; font-size: 18px; margin-top: 7px; margin-right: -15px; }
.site-navbar li { position: relative; float: left; }
.site-navbar li:hover { z-index: 2; }
.site-navbar a { display: block; padding: 0px 15px; color: rgb(102, 102, 102); }
.site-navbar li:hover > a, .site-navbar li.active a:hover, .site-navbar a:hover { color: rgb(69, 182, 247); }
.site-navbar .fa { width: 18px; }
.topbar .fa { width: 14px; }
.topbar { position: absolute; top: -39px; left: 0px; right: 0px; margin-bottom: 20px; margin-right: -15px; color: rgb(153, 153, 153); }
.topbar a { color: rgb(153, 153, 153); }
.topbar a:hover { color: rgb(69, 182, 247); }
.topmenu { float: right; }
.topmenu li { position: relative; float: left; }
.topmenu li:hover { z-index: 2; }
.topmenu a { display: block; padding: 0px 15px; color: rgb(153, 153, 153); }
.site-nav .sub-menu { display: none; position: absolute; top: 100%; left: 0px; background-color: rgb(255, 255, 255); font-size: 12px; padding: 6px 0px; border: 1px solid rgb(221, 221, 221); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); line-height: 32px; width: 132px; font-weight: bold; border-radius: 4px; }
.site-nav ul .sub-menu { left: 100%; top: -7px; border-radius: 0px; }
.site-nav .sub-menu li { float: none; }
.site-nav .sub-menu a:hover { background-color: rgb(246, 246, 246); }
.site-nav li:hover > .sub-menu { display: block; }
.site-search { background-color: rgba(255, 255, 255, 0.95); position: absolute; top: 0px; left: 0px; right: 0px; height: 100px; z-index: 1; }
.site-search-form { padding: 25px 20%; overflow: hidden; }
.search-input { float: left; color: rgb(153, 153, 153); border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(221, 221, 221) -moz-use-text-color rgb(221, 221, 221) rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; width: 85%; height: 50px; padding: 4px 12px; font-size: 16px; border-radius: 2px 0px 0px 2px; outline: medium none; }
.search-input:focus { border-color: rgb(69, 182, 247); }
.search-btn { color: rgb(255, 255, 255); border: medium none; background: rgb(69, 182, 247) none repeat scroll 0% 0%; height: 50px; font-size: 16px; padding: 0px 12px; border-radius: 0px 2px 2px 0px; width: 15%; }
.search-btn:hover, .search-btn:focus { color: rgb(255, 255, 255); opacity: 0.85; }
.search-btn .fa { font-size: 16px; width: 16px; }
.branding { position: relative; z-index: 9; text-align: center; padding: 70px 20px; }
.branding h1, .branding h2 { margin: 0px 0px 20px; font-size: 33px; }
.branding .btn { margin: 0px 10px; }
.branding-black { background-color: rgb(68, 68, 68); }
.branding-black h1, .branding-black h2 { color: rgb(204, 204, 204); }
.branding-black .btn { border-color: rgb(204, 204, 204); color: rgb(204, 204, 204); }
.branding-black .btn:hover { background-color: rgb(204, 204, 204); color: rgb(68, 68, 68); }
.asb { position: relative; overflow: hidden; text-align: center; }
.asb-post { margin-bottom: 30px; }
.asb-post-01 { margin-bottom: 20px; }
.muted { color: rgb(102, 102, 102); }
.article-header { margin-bottom: 20px; padding: 25px 0px; border-bottom: 1px solid rgb(238, 238, 238); text-align: center; }
.article-title { margin-top: 0px; font-size: 26px; line-height: 36px; }
.article-title a, .article-title a:hover { color: rgb(85, 85, 85); }
.article-meta { font-size: 12px; color: rgb(153, 153, 153); }
.article-meta .item { margin-right: 20px; }
.article-content { font-size: 15px; line-height: 25px; word-wrap: break-word; }
.article-content img { margin: 5px 0px; max-width: 100%; height: auto; }
.article-content ul, .article-content ol { margin: 0px 0px 18px 50px; }
.article-content ol { list-style: outside none decimal; }
.article-content li { margin-bottom: 6px; }
.article-content p { margin-bottom: 18px; word-wrap: break-word; }
.article-content pre { word-wrap: normal ! important; overflow-x: auto ! important; }
.article-content a { text-decoration: underline; color: rgb(69, 182, 247); }
.article-content a:hover { color: rgb(255, 94, 82); }
.article-content pre, .comment pre { margin: 20px 0px; background: rgb(39, 40, 34) none repeat scroll 0% 0%; padding: 10px 15px; color: rgb(248, 248, 212); border: medium none; }
.post-copyright { background-color: rgb(238, 238, 238); font-size: 12px; padding: 3px 0px; border-radius: 3px; color: rgb(170, 170, 170); text-align: center; }
.article-content .post-copyright a, .post-copyright a:hover { color: rgb(170, 170, 170); text-decoration: none; }
.post-copyright:hover { background-color: rgb(69, 182, 247); color: rgb(255, 255, 255); }
.post-copyright:hover a { color: rgb(255, 255, 255); }
.article-tags { margin: 30px 0px; text-align: center; }
.article-tags a { display: inline-block; padding: 4px 7px 3px; margin: 0px 4px 4px 0px; color: rgb(255, 255, 255); font-size: 12px; background-color: rgb(69, 182, 247); opacity: 0.85; }
.article-tags a:hover { color: rgb(255, 255, 255); opacity: 1; }
.article-nav { overflow: hidden; margin-bottom: 30px; font-size: 14px; color: rgb(187, 187, 187); }
.article-nav span { float: left; position: relative; width: 50%; }
.article-nav span.article-nav-next { float: right; text-align: right; }
.article-nav span.article-nav-next::before { content: ""; position: absolute; left: 0px; top: 0px; height: 100%; display: block; width: 1px; background-color: rgb(238, 238, 238); }
.article-nav a { color: rgb(153, 153, 153); margin-right: 10px; display: inline-block; }
.article-nav span.article-nav-next a { margin-left: 10px; margin-right: 0px; }
.article-nav a:hover { color: rgb(69, 182, 247); }
.action-share { color: rgb(102, 102, 102); position: relative; text-align: center; margin: 30px 0px; }
.bdsharebuttonbox.bdshare-button-style0-24 a { float: none; display: inline-block; margin: 0px 2px; position: relative; }
.bdsharebuttonbox.bdshare-button-style0-24 span { position: relative; vertical-align: top; }
.bdsharebuttonbox.bdshare-button-style0-24 .bds_count { margin: 0px; color: rgb(102, 102, 102); }
.bdsharebuttonbox.bdshare-button-style0-24 a.bds_more { color: rgb(102, 102, 102); font-size: 14px; }
.fcode { margin-bottom: 20px; overflow: hidden; clear: both; }
#respond { padding-bottom: 25px; }
#respond, #postcomments { position: relative; }
.comment { position: relative; }
.url { color: rgb(96, 196, 253); }
.url:hover { color: rgb(96, 196, 253); text-decoration: underline; opacity: 0.85; }
.depth-1 { border-bottom: 1px solid rgb(238, 238, 238); }
.comment .children { list-style: outside none none; padding: 0px; }
.comment .children .comment { margin: 0px; border-top: 1px solid rgb(238, 238, 238); }
#comments { margin-bottom: 15px; font-size: 16px; }
.rollbar { position: fixed; right: 20px; bottom: 20px; z-index: 999; display: none; }
.rollbar ul { margin: 0px; padding: 0px; list-style: outside none none; width: 50px; }
.rollbar li { position: relative; margin-top: 5px; text-align: center; opacity: 0.4; }
.rollbar a { position: relative; z-index: 2; display: block; height: 50px; border-radius: 2px; background-color: rgb(102, 102, 102); color: rgb(255, 255, 255); }
.rollbar a:hover { color: rgb(255, 255, 255); }
.rollbar .fa { line-height: 50px; font-size: 34px; }
.rollbar .fa-comments { font-size: 24px; }
.rollbar li:hover, .rollbar li:hover h6 { opacity: 0.9; }
.rollbar li:hover h6 { right: 100%; }
.rollbar h6 { position: absolute; z-index: 1; top: 50%; right: -15%; margin: -13px 10px 0px 0px; line-height: 26px; font-size: 12px; background-color: rgb(102, 102, 102); color: rgb(255, 255, 255); width: 53px; border-radius: 2px; text-align: center; opacity: 0; }
.rollbar h6 i { position: absolute; right: -4px; top: 50%; margin-top: -4px; display: inline-block; width: 0px; height: 0px; vertical-align: middle; border-left: 4px solid rgb(102, 102, 102); border-top: 4px solid transparent; border-bottom: 4px solid transparent; }
.widget { clear: both; position: relative; margin-bottom: 15px; background-color: rgb(255, 255, 255); border-radius: 4px; border: 1px solid rgb(234, 234, 234); overflow: hidden; }
.widget > .screen-reader-text { display: none; }
.widget h3 { font-size: 18px; color: rgb(102, 102, 102); border-bottom: 1px solid rgb(234, 234, 234); background-color: rgb(251, 251, 251); margin: 0px; padding: 11px 15px 10px; }
.widget ul { list-style: outside none none; padding: 0px; margin: 0px; }
.widget ul::before, .widget ul::after { display: table; content: ""; line-height: 0; }
.widget ul::after { clear: both; }
.widget_categories {  }
.postform { margin-bottom: 10px; border: 1px solid rgb(221, 221, 221); }
.d_tags { padding: 12px 13px 10px 15px; }
.d_tags a:nth-child(9n) { background-color: rgb(74, 74, 74); }
.d_tags a:nth-child(9n+1) { background-color: rgb(66, 139, 202); }
.d_tags a:nth-child(9n+2) { background-color: rgb(92, 184, 92); }
.d_tags a:nth-child(9n+3) { background-color: rgb(217, 83, 79); }
.d_tags a:nth-child(9n+4) { background-color: rgb(86, 126, 149); }
.d_tags a:nth-child(9n+5) { background-color: rgb(180, 51, 255); }
.d_tags a:nth-child(9n+6) { background-color: rgb(0, 171, 169); }
.d_tags a:nth-child(9n+7) { background-color: rgb(179, 115, 51); }
.d_tags a:nth-child(9n+8) { background-color: rgb(255, 102, 0); }
.d_tags a { opacity: 0.8; color: rgb(255, 255, 255); background-color: rgb(66, 139, 202); display: inline-block; float: left; width: 31.3333%; margin: 0px 1% 1% 0px; padding: 0px 8px; font-size: 12px; height: 29px; line-height: 29px; overflow: hidden; }
.d_tags a:hover { opacity: 1; }
.widget_ui_posts li:last-child a { border-bottom: medium none; }
.widget_ui_posts li a { padding: 10px 15px 10px 150px; color: rgb(102, 102, 102); border-bottom: 1px solid rgb(238, 238, 238); overflow: hidden; position: relative; display: block; font-size: 14px; height: 107px; }
.widget_ui_posts li a:hover { background-color: rgb(251, 251, 251); }
.widget_ui_posts li a:hover .text { color: rgb(69, 182, 247); }
.widget_ui_posts .text { display: block; }
.widget_ui_posts .thumbnail { float: left; margin-left: -135px; }
.widget_ui_posts .thumbnail img { max-width: 122px; max-height: 86px; }
.widget_ui_posts .muted { margin-right: 15px; font-size: 12px; color: rgb(102, 102, 102); }
.widget_archive select, .widget_categories select { margin-top: 10px; width: 91%; margin-left: 15px; height: 32px; line-height: 32px; padding: 2px; }
.textwidget { padding: 15px; color: rgb(119, 119, 119); }
.footer { position: relative; z-index: 9; clear: both; padding: 40px 30px; font-size: 12px; line-height: 12px; text-align: center; color: rgb(153, 153, 153); background-color: rgb(255, 255, 255); border-top: 1px solid rgb(234, 234, 234); }
.footer a { color: rgb(153, 153, 153); }
.footer a:hover { color: rgb(102, 102, 102); }
.prettyprint, pre.prettyprint { background-color: rgb(39, 40, 34); border: medium none; overflow: hidden; padding: 10px 15px; }
.prettyprint.linenums, pre.prettyprint.linenums { box-shadow: 40px 0px 0px rgb(57, 56, 46) inset, 41px 0px 0px rgb(70, 71, 65) inset; }
.prettyprint.linenums ol, pre.prettyprint.linenums ol { margin: 0px 0px 0px 30px; }
.prettyprint.linenums ol li, pre.prettyprint.linenums ol li { padding-left: 12px; color: rgb(190, 190, 197); line-height: 20px; margin-left: 0px; list-style: outside none decimal; margin-bottom: 0px; }
.prettyprint .lit { color: rgb(174, 129, 255); }
.prettyprint .pun, .prettyprint .opn, .prettyprint .clo { color: rgb(248, 248, 242); }
.prettyprint .kwd, .prettyprint .tag { color: rgb(249, 38, 89); }
.prettyprint .typ, .prettyprint .atn, .prettyprint .dec, .prettyprint .var { color: rgb(166, 226, 46); }
.prettyprint .pln { color: rgb(102, 217, 239); }
.m-icon-nav { display: none; }
.m-mask { display: none; }
.m-navbar { display: none; }
.header, .site-navbar, .site-search, .m-icon-nav, .widget-navcontent .item, .site-nav .fa-angle-down, .rollbar li, .rollbar h6, .btn, .search-btn, a { transition: all 0.25s ease 0s; }
@media print {
  .article-meta { display: none ! important; }
  .header { display: none ! important; }
  .site-search { display: none ! important; }
}
@media (max-width: 1320px) {
}
@media (max-width: 1240px) {
  .container { margin: 0px 15px; }
}
@media (max-width: 1024px) {
  .content { margin-right: 0px; }
  .sidebar { display: none; }
  .site-search-form { padding: 25px 0px; }
  .brand { display: none; }
}
@media (max-width: 860px) {
  .topmenu { display: none; }
}
@media (max-width: 720px) {
  .header { top: 0px; left: 0px; right: 0px; text-align: center; padding: 15px 0px; z-index: 99; height: 62px; }
  .header .container { margin: 0px; }
  .logo { float: none; text-align: center; max-width: 100%; }
  .logo a { max-width: 180px; margin: 0px auto; text-align: center; }
  .logo img { margin: 0px auto; }
  .topbar { display: none; }
  .site-navbar > li[id] { display: none; }
  .m-navbar { margin: 0px; position: fixed; top: 0px; left: -70%; bottom: 0px; height: 100%; background-color: rgb(41, 48, 56); text-align: left; padding: 0px; line-height: 32px; font-size: 16px; width: 70%; z-index: 9999; display: block; overflow-y: auto; transition: left 0.68s ease 0s; }
  .m-navbar li { float: none; text-align: center; margin-left: 0px; }
  .m-navbar .sub-menu { position: relative; top: 0px; box-shadow: none; background-color: transparent; border: medium none; border-radius: 0px; width: auto; margin: 0px 0px 0px 25px; font-size: 14px; padding: 0px; font-weight: normal; }
  .m-navbar .fa { width: 18px; display: inline-block; text-align: center; }
  .m-navbar li a { display: block; margin: 0px 20px; padding: 10px; color: rgb(238, 238, 238); border-bottom: 1px solid rgb(48, 60, 74); }
  .m-navbar li:hover > a, .m-navbar li a:hover, .m-navbar li.current-menu-item > a, .m-navbar li.current-menu-parent > a { color: rgb(255, 255, 255); }
  .m-navbar .navto-search { display: none; }
  .m-icon-nav { display: block; position: absolute; top: -15px; left: 0px; font-size: 19px; padding: 21px 30px 21px 15px; color: rgb(153, 153, 153); }
  .site-search { top: -100px; }
  .site-navbar li.navto-search { position: absolute; top: -15px; right: 0px; border-bottom: medium none; }
  .site-navbar li.navto-search a { padding: 15px 15px 15px 30px; color: rgb(153, 153, 153); border-bottom: medium none; margin: 0px; }
  .site-nav .navto-search .fa { display: block; font-size: 19px; }
}
@media (max-width: 640px) {
  .header { padding: 15px 0px; height: 56px; }
  .logo a { height: 24px; }
  .logo img { height: 100%; }
  .m-icon-nav { padding: 14px 30px 13px 15px; top: -10px; }
  .site-navbar li.navto-search a { padding: 18px 15px 13px 30px; }
  .article-header { text-align: left; padding: 15px 0px; }
  .article-title { font-size: 18px; font-weight: bold; margin-bottom: 5px; line-height: 22px; }
  .article-meta .item { margin-right: 10px; }
  .asb-post { margin-bottom: 15px; }
  .article-content img { border-radius: 5px; }
  .post-copyright { display: none; }
  .action-share { text-align: left; }
  .article-tags { text-align: left; }
  .article-content { font-size: 15px; line-height: 24px; }
  .article-content p, .article-content h2, .article-content h3, .article-content h4 { margin-bottom: 15px; }
  .article-content ul, .article-content ol { margin-left: 20px; }
  .content { min-height: 200px; }
  .branding { padding: 30px 15px; }
  .branding h1, .branding h2 { font-size: 20px; margin-bottom: 10px; }
  .btn-lg { font-size: 14px; padding: 6px 15px; }
  .footer { padding: 30px 0px 20px; }
  .footer { padding: 15px 10px; }
  .footer .container { height: 32px; overflow: hidden; line-height: 16px; }
  .footer a:first-child { display: block; }
}
@media (max-width: 480px) {
  .container { margin: 0px 10px; }
  .single section.container { margin: 0px; }
  .single .content { border: medium none; padding: 0px 15px; border-radius: 0px; }
  .article-header { margin-bottom: 10px; }
}
@media (max-width: 360px) {
  .single .content { padding: 5px 15px; }
  .article-header { padding: 10px 0px; text-align: left; }
  .article-meta .item:nth-child(2) { display: none; }
  .article-title { font-size: 16px; }
  .btn-lg { padding: 8px 20px; font-size: 14px; }
  #respond { overflow: hidden; width: 100%; }
  .branding { padding: 30px 10px; }
  .branding h1, .branding h2 { font-size: 16px; font-weight: bold; margin-bottom: 10px; }
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 640px) {
}
@media (max-width: 320px) {
}
