/* Code tidied up by ScrapBook */
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); margin: 10px; padding: 0px; }
body, th, td { font: 13px verdana,arial,"Bitstream Vera Sans",helvetica,sans-serif; }
h1, h2, h3, h4 { font-family: arial,verdana,"Bitstream Vera Sans",helvetica,sans-serif; font-weight: bold; letter-spacing: -0.018em; }
h1 { font-size: 19px; margin: 0.15em 1em 0px 0px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
hr { border-width: 1px medium medium; border-style: solid none none; border-color: rgb(204, 204, 187) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: 2em 0px; }
img { border: medium none; }
tt { white-space: pre; }
:link, :visited { text-decoration: none; color: rgb(187, 0, 0); border-bottom: 1px dotted rgb(187, 187, 187); }
:link:hover, :visited:hover { background-color: rgb(238, 238, 238); color: rgb(85, 85, 85); }
h1 :link, h1 :visited, h2 :link, h2 :visited, h3 :link, h3 :visited, h4 :link, h4 :visited, h5 :link, h5 :visited, h6 :link, h6 :visited { color: inherit; }
.anchor:link, .anchor:visited { border: medium none; color: rgb(215, 215, 215); font-size: 0.8em; vertical-align: text-top; }
* > .anchor:link, * > .anchor:visited { visibility: hidden; }
h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor { visibility: visible; }
@media screen {
  a.ext-link .icon { background: transparent url("extlink.gif") no-repeat scroll left center; padding-left: 16px; }
}
input, textarea, select { margin: 2px; }
input, select { vertical-align: middle; }
input[type="button"], input[type="submit"], input[type="reset"] { background: rgb(238, 238, 238) none repeat scroll 0% 0%; color: rgb(34, 34, 34); border: 1px outset rgb(204, 204, 204); padding: 0.1em 0.5em; }
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover { background: rgb(204, 204, 187) none repeat scroll 0% 0%; }
input[type="text"], input.textwidget, textarea { border: 1px solid rgb(215, 215, 215); }
input[type="text"], input.textwidget { padding: 0.25em 0.5em; }
input[type="text"]:focus, input.textwidget:focus, textarea:focus { border: 1px solid rgb(136, 136, 102); }
#header hr { display: none; }
#header img { border: medium none; margin: 0px 0px -3em; }
#header :link, #header :visited, #header :link:hover, #header :visited:hover { background: transparent none repeat scroll 0% 0%; color: rgb(85, 85, 85); margin-bottom: 2px; border: medium none; }
#search { clear: both; font-size: 10px; height: 2.2em; margin: 0px 0px 1em; text-align: right; }
#search input { font-size: 10px; }
#search label { display: none; }
.nav h2, .nav hr { display: none; }
.nav ul { font-size: 10px; list-style: outside none none; margin: 0px; text-align: right; }
.nav li { border-right: 1px solid rgb(215, 215, 215); display: inline; padding: 0px 0.75em; white-space: nowrap; }
.nav li.last { border-right: medium none; }
#mainnav { background: rgb(247, 247, 247) url("topbar_gradient.png") repeat scroll 0px 0px; border: 1px solid rgb(0, 0, 0); font: 10px verdana,"Bitstream Vera Sans",helvetica,arial,sans-serif; margin: 0.66em 0px 0.33em; padding: 0.2em 0px; }
#mainnav li { border-right: medium none; padding: 0.25em 0px; }
#mainnav :link, #mainnav :visited { background: transparent url("dots.gif") no-repeat scroll 0px 0px; border-right: 1px solid rgb(255, 255, 255); border-bottom: medium none; border-left: 1px solid rgb(85, 85, 85); color: rgb(0, 0, 0); padding: 0.2em 20px; }
#mainnav :link:hover, #mainnav :visited:hover { background-color: rgb(204, 204, 204); border-right: 1px solid rgb(221, 221, 221); }
#mainnav .active :link, #mainnav .active :visited { background: rgb(51, 51, 51) url("topbar_gradient2.png") repeat-x scroll 0px 0px; border-top: medium none; border-right: 1px solid rgb(0, 0, 0); color: rgb(238, 238, 238); font-weight: bold; }
#mainnav .active :link:hover, #mainnav .active :visited:hover { border-right: 1px solid rgb(0, 0, 0); }
#ctxtnav { height: 1em; }
#altlinks { clear: both; text-align: center; }
#altlinks h3 { font-size: 12px; letter-spacing: normal; margin: 0px; }
#altlinks ul { list-style: outside none none; margin: 0px; padding: 0px 0px 1em; }
#altlinks li { border-right: 1px solid rgb(215, 215, 215); display: inline; font-size: 11px; line-height: 16px; padding: 0px 1em; white-space: nowrap; }
#altlinks li.last { border-right: medium none; }
#altlinks li :link, #altlinks li :visited { background-position: 0px -1px; background-repeat: no-repeat; border: medium none; }
#footer { clear: both; color: rgb(187, 187, 187); font-size: 10px; border-top: 1px solid; height: 31px; padding: 0.25em 0px; }
#footer :link, #footer :visited { color: rgb(187, 187, 187); }
#footer hr { display: none; }
#footer #tracpowered { border: 0px none; float: left; }
#footer #tracpowered:hover { background: transparent none repeat scroll 0% 0%; }
#footer p { margin: 0px; }
#footer p.left { float: left; margin-left: 1em; padding: 0px 1em; border-left: 1px solid rgb(215, 215, 215); border-right: 1px solid rgb(215, 215, 215); }
#footer p.right { float: right; text-align: right; }
#content { padding-bottom: 2em; position: relative; }
.wikipage { padding-left: 18px; }
.wikipage h1, .wikipage h2, .wikipage h3 { margin-left: -18px; }
pre.wiki, pre.literal-block { background: rgb(247, 247, 247) none repeat scroll 0% 0%; border: 1px solid rgb(215, 215, 215); margin: 1em 1.75em; padding: 0.25em; overflow: auto; }
@media screen {
}
@media print {
  #header, #altlinks, #footer, #help { display: none; }
  .nav, form, .buttons form, form .buttons, form .inlinebuttons { display: none; }
}
