/* Code tidied up by ScrapBook */
@charset "UTF-8";
#bdshare ul, #bdshare_s ul, #bdshare ul li, #bdshare_s ul li, #bdshare_l_c ul li, #bdshare_m_c ul li, #bdshare_pop ul, #bdshare_pop ul li { list-style: outside none none; margin: 0px; padding: 0px; }
#bdshare { z-index: 999999; padding-bottom: 2px; font-size: 12px; float: left; text-align: left ! important; }
#bdshare a, #bdshare_s a, #bdshare_pop a { text-decoration: none; cursor: pointer; }
#bdshare a:hover, #bdshare_s a:hover, #bdshare_pop a:hover { color: rgb(51, 51, 51); opacity: 0.8; }
#bdshare h6, #bdshare_s h6 { width: 100%; font: 700 14px/22px "宋体"; text-indent: 0.5em; border-top: 1px solid rgb(251, 251, 251); border-bottom: 1px solid rgb(242, 241, 241); background-color: rgb(246, 246, 246); float: left; padding: 5px 0px; margin: 0px; }
#bdshare ul, #bdshare_s ul { width: 98%; float: left; padding: 8px 0px; margin-left: 2px; overflow: hidden; }
#bdshare ul li, #bdshare_s ul li { width: 47%; float: left; margin: 4px 2px; }
#bdshare ul li a, #bdshare_s ul li a { color: rgb(86, 86, 86); font: 12px "宋体"; display: block; width: 98%; padding: 6px 0px; text-indent: 2.4em; border: 1px solid rgb(255, 255, 255); }
#bdshare ul li a:hover, #bdshare_s ul li a:hover { background-color: rgb(243, 243, 243); border: 1px solid rgb(238, 238, 238); }
#bdshare p, #bdshare_s p { width: 100%; height: 21px; font: 12px "宋体"; border-top: 1px solid rgb(242, 241, 241); background-color: rgb(248, 248, 248); float: left; padding: 0px; margin: 0px; }
#bdshare p a, #bdshare_s p a { width: auto; text-align: right; float: right; padding: 0px 5px; }
#bdshare_l { width: 212px; position: absolute; top: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: left; }
#bdshare_l_c { width: 210px; float: left; border: 1px solid rgb(233, 233, 233); text-align: left; }
#bdshare_l_c ul li { width: 47%; height: 26px; float: left; margin: 2px; }
#bdshare_l_c ul li a { background: transparent url("is.png") no-repeat scroll 0% 0%; height: auto ! important; }
#bdshare_l, #bdshare_m { z-index: 99999; }
#bdshare_l_c p a.goWebsite, #bdshare_m_c p a.goWebsite, #bdshare_pop p a.goWebsite { text-align: right; background: transparent url("pi.gif") no-repeat scroll 0px center; line-height: 16px; padding-left: 12px; color: rgb(140, 140, 140); }
#bdshare_l_c p a.goWebsite:hover, #bdshare_m_c p a.goWebsite:hover, #bdshare_pop p a.goWebsite:hover { color: rgb(0, 169, 224); }
span.bds_more { background: transparent url("is.png") no-repeat scroll 0px 5px ! important; }
span.bds_more, .bds_tools a { display: block; font-family: "宋体",Arial; height: 16px; float: left; cursor: pointer; padding-top: 6px; padding-bottom: 3px; padding-left: 22px; }
.bds_more { background-image: url("is.png") ! important; background-position: 0px 4px ! important; }
.bds_qzone { background-position: 0px -75px ! important; }
.bds_tsina { background-position: 0px -115px ! important; }
.bds_bdhome { background-position: 0px -155px ! important; }
.bds_renren { background-position: 0px -195px ! important; }
.bds_tqq { background-position: 0px -235px ! important; }
.bds_kaixin001 { background-position: 0px -275px ! important; }
.bds_tqf { background-position: 0px -315px ! important; }
.bds_douban { background-position: 0px -395px ! important; }
.bds_tsohu { background-position: 0px -435px ! important; }
.bds_tieba { background-position: 0px -595px ! important; }
.bds_thx { background-position: 0px -1829px ! important; }
.bds_mshare { background-position: 0px -2070px ! important; }
.bds_bdxc { background-position: 0px -2190px ! important; }
.bds_sqq { background-position: 0px -2230px ! important; }
.bds_bdysc { background-position: 0px -2550px ! important; }
