/* Code tidied up by ScrapBook */
a {  }
.jaws { display: block; height: 1px; left: -5000px; overflow: hidden; position: absolute; top: -5000px; width: 1px; }
@media all and (min-width: 940px) {
}
@media all and (min-width: 940px) {
}
@media all and (min-width: 940px) {
}
@media all and (min-width: 940px) {
}
@media all and (min-width: 940px) {
}
@media all and (min-width: 940px) {
}
