/* Code tidied up by ScrapBook */
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
.fa { display: inline-block; font: 16px/1 FontAwesome; text-decoration: none; }
.fa-link::before { content: "ïƒ"; }
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
* { margin: 0px; padding: 0px; }
div { display: block; }
html { font-family: sans-serif; }
html, body { color: rgb(51, 51, 51); }
body { background-color: white; font: small/1.4 Helvetica,arial,freesans,clean,sans-serif; }
a { color: rgb(65, 131, 196); text-decoration: none; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
.markdown-body a.anchor:focus { outline: medium none; }
.markdown-body { padding: 1em; font-size: 15px; line-height: 1.7; overflow: hidden; word-wrap: break-word; }
@media all and (min-width: 940px) {
  .markdown-body { padding: 30px; }
}
.markdown-body > :first-child { margin-top: 0px ! important; }
.markdown-body > :last-child { margin-bottom: 0px ! important; }
.markdown-body a.anchor { display: block; padding-right: 6px; padding-left: 30px; margin-left: -30px; cursor: pointer; position: absolute; top: 0px; left: 0px; bottom: 0px; }
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 { margin: 1em 0px 15px; padding: 0px; font-weight: bold; line-height: 1.7; cursor: text; position: relative; text-rendering: optimizelegibility; }
.markdown-body h1 .fa-link, .markdown-body h2 .fa-link, .markdown-body h3 .fa-link, .markdown-body h4 .fa-link, .markdown-body h5 .fa-link, .markdown-body h6 .fa-link { display: none; text-decoration: none; color: rgb(0, 0, 0); }
.markdown-body h1:hover a.anchor .fa-link, .markdown-body h2:hover a.anchor .fa-link, .markdown-body h3:hover a.anchor .fa-link, .markdown-body h4:hover a.anchor .fa-link, .markdown-body h5:hover a.anchor .fa-link, .markdown-body h6:hover a.anchor .fa-link { text-decoration: none; line-height: 1; padding-left: 8px; margin-left: -30px; top: 15%; display: inline-block; }
.markdown-body h1 { font-size: 2.5em; border-bottom: 1px solid rgb(221, 221, 221); color: rgb(0, 0, 0); margin-top: 20px; margin-bottom: 10px; }
.markdown-body h3 { font-size: 1.5em; }
.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre, .markdown-body hr { margin: 15px 0px; }
.markdown-body > h1:first-child, .markdown-body > h2:first-child, .markdown-body > h3:first-child, .markdown-body > h4:first-child, .markdown-body > h5:first-child, .markdown-body > h6:first-child {  }
.markdown-body h1 + p, .markdown-body h2 + p, .markdown-body h3 + p, .markdown-body h4 + p, .markdown-body h5 + p, .markdown-body h6 + p { margin-top: 0px; }
.markdown-body code, .markdown-body pre, .markdown-body tt { font-family: Consolas,"Liberation Mono",Courier,monospace; font-size: 12px; }
.markdown-body code, .markdown-body tt { margin: 0px 2px; padding: 0px 5px; white-space: nowrap; border: 1px solid rgb(221, 221, 221); background-color: rgb(248, 248, 248); border-radius: 3px; }
.markdown-body pre > tt, .markdown-body pre > code { margin: 0px; padding: 0px; white-space: pre; border: medium none; background: transparent none repeat scroll 0% 0%; }
.markdown-body pre { background-color: rgb(248, 248, 248); border: 1px solid rgb(204, 204, 204); font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px; }
.markdown-body pre pre, .markdown-body pre code, .markdown-body pre tt { background-color: transparent; border: medium none; }
