/* Code tidied up by ScrapBook */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, s, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; background: transparent none repeat scroll 0% 0%; }
ul, li { list-style: outside none none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
em, var { font-style: normal; }
input, textarea, button { outline: medium none; margin: 0px; padding: 0px; }
body, input, textarea, button, select { font: 12px/1.5 "微软雅黑","Microsoft Yahei","Hiragino Sans GB",Helvetica; }
a { color: rgb(0, 102, 204); }
a:hover { color: rgb(0, 51, 153); }
a:disabled { color: rgb(153, 153, 153); }
a[disabled], select[disabled], button[disabled] { color: rgb(204, 204, 204) ! important; }
body { word-break: break-all; word-wrap: break-word; }
