/* Code tidied up by ScrapBook */
body, a { color: rgb(102, 102, 102); }
.fc01 { color: rgb(127, 127, 127); }
.fc02, .fc02 a { color: rgb(181, 181, 181); font-size: 14px; }
.fc03, .fc03 a, .fc04, .fc04 a, .fc11 a { color: rgb(51, 51, 51); }
.fc05 { color: rgb(102, 102, 102); }
.fc06, .fc07 { color: rgb(153, 153, 153); }
.fc08 { color: rgb(133, 133, 133); }
.fc10 { color: rgb(235, 235, 235); }
.bdc0 { border-color: rgb(235, 235, 235); }
.bgc0, .bgc9:hover, .bgc9.js-bgc9-hover { background-color: rgb(238, 238, 238); }
.nb-body { background: rgb(237, 237, 239) none repeat scroll left top; }
.nb-top { background: transparent none repeat-x scroll center bottom; }
.nb-top .h { height: 192px; }
.nb-top .t { top: 78px; left: 149px; font-family: Verdana; color: rgb(51, 51, 51); }
.nb-top .n { font-size: 48px; }
.nb-top .d { font-size: 18px; }
.nb-nav .wkg { background: transparent none no-repeat scroll center top; }
.nb-nav .h { height: 53px; line-height: 53px; }
.nb-nav .c { margin-left: 142px; }
.nb-nav .i { width: 71px; font-weight: bold; font-size: 14px; }
.nb-nav .i:hover { font-weight: bold; font-size: 14px; color: rgb(193, 79, 79); background: transparent none no-repeat scroll center top; }
.nb-nav .selected { background: transparent none no-repeat scroll center top; }
.nb-nav .selected .i, .nb-nav .selected .i:hover { font-weight: bold; font-size: 14px; color: rgb(193, 79, 79); background: transparent none repeat scroll 0% 0%; }
.nb-cnt .wkg { background: transparent none repeat scroll center top; }
.nb-cnt .wc { margin: 0px; min-height: 560px; }
.nb-fot { background: transparent url("4022277417212311633.jpg") repeat-x scroll left bottom; }
.nb-fot .h { height: 230px; }
.nb-fot .k { padding-top: 117px; }
.nb-mdl { margin: 10px 5px; border: 1px none rgb(170, 170, 170); }
.nb-mdl .th { height: 41px; }
.nb-mdl .bh { height: 23px; }
.nb-mt .tm { top: 0px; right: 10px; line-height: 51px; }
.nb-mt .tc { margin: 0px 14px; height: 41px; line-height: 51px; font-size: 14px; font-weight: bold; background: rgb(255, 255, 255) url("2869918862558887484.jpg") repeat-x scroll center top; }
.nb-mt .tc .thide { font-size: 14px; }
.nb-mt .tl { width: 14px; background: transparent url("4023684792095866099.jpg") no-repeat scroll left top; }
.nb-mt .tr { width: 14px; background: transparent url("4023684792095866100.jpg") no-repeat scroll right top; }
.nb-mc .cc { margin: 0px 14px; background: rgb(255, 255, 255) none repeat scroll center top; }
.nb-mc .cl { width: 14px; background: transparent url("4564961172310468132.jpg") repeat-y scroll left top; }
.nb-mc .cr { width: 14px; background: transparent url("2869918862558887485.jpg") repeat-y scroll right top; }
.nb-mb { display: block; }
.nb-mb .bc { margin: 0px 14px 0px 10px; background: transparent url("5777273897786270133.jpg") repeat-x scroll center bottom; }
.nb-mb .bl { width: 10px; background: transparent url("4023684792095866103.jpg") no-repeat scroll left bottom; }
.nb-mb .br { width: 14px; background: transparent url("4023684792095866104.jpg") no-repeat scroll right bottom; }
.wsy { width: 100%; margin: 0px auto; }
.wkg { width: 1004px; margin: 0px auto; }
.nb-top .d { text-align: left; text-indent: 0.2em; padding-left: 0px; }
