/* Code tidied up by ScrapBook */
.tbox { margin: 0px 0px 8px; border-bottom: 1px solid rgb(218, 218, 218); overflow: hidden; background: transparent url("green_skin.png") repeat-x scroll 0px -294px; }
.tbox dt { height: 24px; border: 1px solid rgb(218, 218, 218); overflow: hidden; clear: both; }
.tbox dd { border-left: 1px solid rgb(218, 218, 218); border-right: 1px solid rgb(218, 218, 218); overflow: hidden; }
.tbox dt strong { height: 24px; line-height: 25px; padding-left: 8px; padding-right: 4px; display: block; float: left; color: rgb(49, 99, 1); letter-spacing: 1px; }
.light { background: transparent none repeat scroll 0% 0%; }
.light dt { height: 24px; border: 1px solid rgb(218, 218, 218); overflow: hidden; background: transparent url("green_skin.png") repeat-x scroll 0px -188px; clear: both; }
.light dd { border-left: 1px solid rgb(218, 218, 218); border-right: 1px solid rgb(218, 218, 218); overflow: hidden; }
dt.light strong { color: rgb(49, 99, 1); }
.c1 { padding: 4px 0px; clear: right; }
.c1 li { height: 27px; line-height: 27px; overflow: hidden; padding-left: 16px; background: transparent url("ico-2.gif") no-repeat scroll 7px 11px; }
.c1 a { color: rgb(88, 88, 88); }
.d4 { padding: 0px; }
.d4 li { padding: 4px 8px; overflow: hidden; }
.d4 li a { display: block; line-height: 23px; overflow: hidden; text-indent: 14px; background: transparent url("ico-3.gif") no-repeat scroll 4px 9px; }
.ico2 li { padding-left: 16px; background: transparent url("ico-2.gif") no-repeat scroll 6px 11px; }
