/* Code tidied up by ScrapBook */
body { font-size: 14px ! important; font-family: "PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif; }
#blog_nav_rss { display: none ! important; }
#blog_nav_rss_image { display: none ! important; }
#blog_nav_newpost { display: none ! important; }
img { max-width: 300px ! important; height: auto; }
#green_channel { width: 320px; }
