/* Code tidied up by ScrapBook */
.bds_more { background-image: url("is.png") ! important; background-position: 0px 4px ! important; }
.bds_qzone { background-position: 0px -75px ! important; }
.bds_tsina { background-position: 0px -115px ! important; }
.bds_renren { background-position: 0px -195px ! important; }
.bds_tqq { background-position: 0px -235px ! important; }
