/* Code tidied up by ScrapBook */
article { position: relative; }
article a { text-decoration: none; }
article a:active, article a:focus, article a:hover { text-decoration: underline; }
.external-icon:not([href^="https://mdn.mozillademos.org"]):not(.ignore-external) { white-space: pre-line; }
.wiki-main-content { background: rgb(255, 255, 255) none repeat scroll 0% 0%; min-height: 300px; }
.wiki-main-content .center { padding-left: 0px; padding-right: 0px; }
#wiki-left { position: relative; }
#wiki-content, #wiki-left, #wiki-right { min-height: 1px; }
#wiki-column-container { overflow: auto; }
@media all and (max-width: 1200px) {
  .wiki-left-present:not(.wiki-left-closed) #wiki-content, .wiki-left-present:not(.wiki-left-closed) #wiki-right { width: 74.25%; margin-right: 0px; }
  .wiki-left-present:not(.wiki-left-closed) #wiki-right { padding-bottom: 40px; }
  .wiki-left-present:not(.wiki-left-closed) #wiki-right #toc { padding: 10px 20px; }
  .wiki-left-present:not(.wiki-left-closed) #wiki-right #toc .toggler { pointer-events: auto; color: rgb(33, 122, 192); }
  .wiki-left-present:not(.wiki-left-closed) #wiki-right #toc .toggler i { display: inline-block; }
  .wiki-left-present:not(.wiki-left-closed) #wiki-right #toc .toggle-container { display: none; }
  .wiki-left-present:not(.wiki-left-closed) #wiki-left { float: none; }
}
@media all and (max-width: 1024px) {
  #wiki-content, #wiki-left, #wiki-right { margin-right: 0px; width: auto ! important; float: none; padding-bottom: 40px; }
  #wiki-right #toc { padding: 10px 20px; }
  #wiki-right #toc .toggler { pointer-events: auto; color: rgb(33, 122, 192); }
  #wiki-right #toc .toggler i { display: inline-block; }
  #wiki-right #toc .toggle-container { display: none; }
  #wiki-column-container, #wiki-content { width: auto ! important; }
}
@media print {
  #wiki-left, #wiki-right { display: none; }
}
.wiki-block { clear: both; padding-top: 40px; margin-top: 40px; border-top: 1px solid rgb(234, 239, 242); padding-left: 0px; padding-right: 0px; }
.wiki-block::after { content: " "; clear: both; display: table; }
.quick-links { margin-bottom: 20px; position: relative; background-color: rgb(255, 255, 255); font-size: 0.857rem; }
.quick-links a { color: rgb(59, 60, 64); display: inline-block; max-width: 100%; overflow: hidden; position: relative; text-overflow: ellipsis; }
.quick-links li { padding-top: 6px; position: relative; }
.quick-links li li { padding-left: 30px; }
.quick-links div:empty, .quick-links p:empty { display: none; }
.quick-links .title { display: inline-block; margin-bottom: 0px; width: 100%; }
.quick-links .title.see-also { background: rgb(244, 247, 248) none repeat scroll 0% 0%; margin-left: -6px; padding: 4px 6px 4px 0px; text-indent: 6px; }
.quick-links .sidebar-icon { margin-left: -20px; margin-right: 5px; opacity: 0.3; }
.quick-links .sidebar-icon + .sidebar-icon { margin-left: 0px; margin-right: 5px; }
.quick-links .sidebar-icon i[class^="icon-"] { font-size: 1rem; margin-left: 0px; margin-right: 0px; top: 3px; min-width: 15px; vertical-align: top; }
.quick-links .toggleable > a { display: inline-block; padding-left: 20px; }
.quick-links .toggleable > a i[class^="icon-"] { font-size: 1rem; position: absolute; top: 1px; left: -6px; }
.contributors { color: rgb(119, 119, 119); font-size: 0.857rem; }
.contributors i[class^="icon-"] { margin-left: 0px; margin-right: 10px; }
.contributors-sub { padding: 4px 0px; }
@media print {
  .contributors { display: none; }
}
#toc { background: rgb(244, 247, 248) none repeat scroll 0% 0%; padding: 20px 15px; }
#toc a { text-decoration: none; }
#toc a:active, #toc a:focus, #toc a:hover { text-decoration: underline; }
#toc > ol { font-size: 0.857rem; }
#toc li { padding-top: 10px; position: relative; }
#toc li::before { text-align: left; left: -30px; position: absolute; color: rgb(72, 72, 72); }
#toc .toggler { pointer-events: none; color: inherit; }
#toc .toggler i { display: none; }
#toc .title { margin-bottom: 0px; }
#toc a.title { position: relative; text-decoration: none; }
@media all and (min-width: 1025px) {
}
@media all and (max-width: 1024px) {
  .page-print { display: none; }
}
@media print {
}
@media print {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 480px) {
}
.document-head { position: relative; clear: both; }
.document-head h1 { margin-top: 20px; margin-bottom: 30px; line-height: 1; }
.contributor-avatars { float: right; position: relative; max-width: 150px; margin-top: 23px; margin-left: 20px; margin-bottom: 20px; color: rgb(119, 119, 119); font-size: 0.857rem; text-align: right; }
.contributor-avatars ul { display: inline-block; opacity: 0.7; transition: opacity 0s ease 0s; }
.contributor-avatars ul.focused, .contributor-avatars ul:hover, .contributor-avatars-open.contributor-avatars ul { opacity: 1; }
.contributor-avatars li { float: left; margin: 0px 0px 4px 5px; display: inline-block; }
.contributor-avatars li.hidden { display: none; }
.contributor-avatars a { display: inline-block; transition: all 0s ease 0s; }
.contributor-avatars a:focus, .contributor-avatars a:hover { outline: 0px none; transform: scale(1.7); }
.contributor-avatars .avatar { vertical-align: text-bottom; border-radius: 2px; max-width: 20px; opacity: 0; }
.contributor-avatars .avatar.loaded { opacity: 1; }
.contributor-avatars button { position: absolute; top: 100%; right: 0px; margin-top: -5px; padding: 0px; color: rgb(33, 122, 192); text-align: right; text-transform: none; }
@media all and (max-width: 768px) {
  .contributor-avatars { display: none; }
}
.from-search-next, .from-search-previous { position: absolute; top: 28px; display: none; font-size: 24px; }
.from-search-next.disabled, .from-search-previous.disabled { opacity: 0.3; }
.from-search-previous { left: 0px; }
.from-search-next { right: 0px; }
.from-search-navigate { font-size: 1.143rem; position: relative; color: rgb(206, 209, 210); display: none; height: 38px; width: 20px; top: 4px; }
.from-search-navigate-down, .from-search-navigate-up { font-size: 0.857rem; position: absolute; left: 0px; }
.from-search-navigate-up { top: 0px; }
.from-search-navigate-down { bottom: 0px; }
.from-search-toc { font-size: 0.857rem; border: 1px solid rgb(187, 191, 194); left: 66px; top: 0px; z-index: 2; color: rgb(136, 136, 136); width: 200px; background: rgb(234, 239, 242) none repeat scroll 0% 0%; }
.from-search-toc::before { border-bottom-color: rgb(234, 239, 242); top: -18px; }
.from-search-toc::after { border-bottom-color: rgb(187, 191, 194); top: -20px; }
@media all and (min-width: 769px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 480px) {
  .from-search-toc { padding-top: 30px; width: auto; }
}
.from-search-toc::after, .from-search-toc::before { display: none; }
.from-search-toc ol { list-style-type: decimal; padding-left: 20px; }
@media print {
  .from-search, .from-search-navigate-wrap, .from-search-next-box, .from-search-previous-box { padding-left: 0px; }
}
.article-meta { min-height: 41px; }
.crumbs { margin-bottom: 10px; font-size: 0.857rem; }
.crumbs li { margin-right: 10px; display: inline-block; }
.crumbs a { display: block; }
.crumbs a::after { margin-left: 4px ! important; content: "ï”"; display: inline-block; font-family: FontAwesome; text-decoration: none; color: rgb(193, 194, 196); font-size: 70%; }
.crumbs a { text-decoration: none; }
.crumbs a:active, .crumbs a:focus, .crumbs a:hover { text-decoration: underline; }
@media print {
  .crumbs { display: none; }
}
#page-buttons, .page-buttons { float: right; padding: 5px 0px; width: auto; }
#page-buttons > li, .page-buttons > li { margin-left: 10px; display: inline-block; position: relative; text-align: left; }
#page-buttons > li a, #page-buttons > li button, #page-buttons > li input[type="button"], #page-buttons > li input[type="submit"], .page-buttons > li a, .page-buttons > li button, .page-buttons > li input[type="button"], .page-buttons > li input[type="submit"] { font-size: 0.857rem; }
#page-buttons > li .transparent, .page-buttons > li .transparent { padding-left: 0px; padding-right: 0px; }
#page-buttons > li i[class^="icon-"], .page-buttons > li i[class^="icon-"] { font-size: 1.143rem; }
body:not(.zone-landing) #edit-button { background-color: rgb(0, 149, 221); color: rgb(255, 255, 255); }
@media all and (max-width: 1200px) {
}
@media all and (max-width: 768px) {
  .page-buttons > li.page-buttons-edit { display: none; }
}
@media print {
  .page-buttons { display: none; }
}
@media all and (min-width: 769px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 480px) {
}
#wikiArticle i[class^="icon-"] { margin-left: 0px; }
@media all and (min-width: 1025px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 768px) {
}
@media print {
}
.section-edit { float: right; margin-left: 20px; font-size: 0.857rem; opacity: 0; }
@media all and (max-width: 768px) {
  .section-edit { display: none; }
}
.section-edit:focus, h2:hover .section-edit { opacity: 1; }
@media all and (max-width: 1024px) {
}
@media all and (max-width: 768px) {
}
@media print {
}
