/* Code tidied up by ScrapBook */
html, body { font-size: 14px; font-family: "Century Gothic","Microsoft yahei"; color: rgb(50, 50, 50); background-color: rgb(249, 249, 249); }
body, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, form, input, textarea, button, pre, img { margin: 0px; padding: 0px; }
ul, ul li { list-style: outside none none; }
img { border: 0px none; }
a { color: rgb(68, 68, 68); text-decoration: none; }
a:hover { color: rgb(0, 153, 51); text-decoration: underline; }
input, textarea, select { font-size: 100%; outline: 0px none; resize: none; color: rgb(50, 50, 50); font-family: "微软雅黑"; }
.cf {  }
.cf::after { display: block; visibility: hidden; width: 0px; height: 0px; line-height: 0; font-size: 0px; clear: both; content: "."; }
.main { margin-left: auto; margin-right: auto; padding-top: 70px; width: 1000px; min-height: 500px; height: auto ! important; }
.wrapper { float: left; width: 720px; }
.sidebar { float: right; width: 270px; }
.box { margin-bottom: 10px; border: 1px solid rgb(212, 212, 212); background-color: rgb(255, 255, 255); }
.hidden { display: none ! important; }
.avatar { display: block; position: absolute; top: 3px; left: 0px; padding: 1px; width: 44px; height: 44px; line-height: 44px; text-align: center; overflow: hidden; border: 1px solid rgb(212, 212, 212); }
.avatar img { width: 44px; }
#gotoTop { display: none; position: fixed; top: 75%; left: 50%; cursor: pointer; margin-top: -50px; margin-left: 520px; width: 64px; height: 64px; line-height: 100; overflow: hidden; background: transparent url("gTopa.png") no-repeat scroll 0% 0%; }
#gotoTop {  }
.think-copy { position: absolute; top: -1px; right: -1px; width: 80px; height: 27px; line-height: 27px; text-align: center; border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255); }
.think-copy span { display: inline-block; width: 80px; height: 27px; }
