/* Code tidied up by ScrapBook */
.index-hd { margin-bottom: 5px; padding: 0px 10px; height: 40px; line-height: 40px; color: rgb(251, 251, 251); border-bottom: 1px solid rgb(212, 212, 212); background-color: rgb(251, 251, 251); }
.index-hd .title { float: left; }
.index-hd .t-icon { display: inline-block; margin-right: 4px; width: 18px; vertical-align: middle; background: transparent url("icon_bg.png") no-repeat scroll 0% 0%; }
.index-hd .title em { font-size: 18px; font-style: normal; font-weight: bold; color: rgb(83, 83, 83); vertical-align: middle; }
.ellipsis li { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.share { padding: 15px; font-weight: bold; color: rgb(114, 185, 57); }
.share .sina, .share .tencent, .share .rss { display: inline-block; width: 32px; height: 32px; vertical-align: middle; background: transparent url("bg_weibo.png") no-repeat scroll 0% 0%; }
.share .sina { margin: 0px 20px; background-position: 0px 0px; }
.share .tencent { margin-right: 20px; background-position: 0px -37px; }
.ranking .bd { margin: 10px 15px 0px; }
.ranking li { height: 42px; line-height: 42px; border-bottom: 1px dashed rgb(212, 212, 212); }
.ranking li:last-child { border-bottom: 0px none; }
.ranking li i, .ranking .app-list i { display: inline-block; margin-right: 10px; width: 20px; height: 20px; line-height: 20px; font-style: normal; font-weight: bold; color: rgb(255, 255, 255); text-align: center; vertical-align: middle; background-color: rgb(160, 160, 160); }
.ranking .top3 i { width: 20px; height: 28px; background: transparent url("bg.png") no-repeat scroll -40px -40px; }
.hot-rec .t-icon { height: 18px; background-position: -125px -25px; }
.lupd .t-icon { height: 18px; background-position: -175px -25px; }
.promulgator { position: relative; padding: 10px 10px 10px 65px; height: 44px; line-height: 1.8; color: rgb(153, 153, 153); }
.promulgator .avatar { position: absolute; top: 10px; left: 10px; padding: 1px; border: 1px solid rgb(212, 212, 212); }
.promulgator .avatar img { width: 44px; }
.promulgator .name { color: rgb(51, 51, 51); }
.promulgator .send { float: right; width: 22px; height: 22px; line-height: 22px; text-align: center; }
.promulgator .mr { margin-right: 10px; }
.sn-wrap { margin-bottom: 10px; overflow: hidden; border: 1px solid rgb(212, 212, 212); background-color: rgb(255, 255, 255); }
.sn-wrap .count-box { margin-left: -1px; margin-right: -1px; }
.count-box .count-item { float: left; color: rgb(0, 0, 0); text-align: center; cursor: pointer; border-right: 1px solid rgb(212, 212, 212); }
.count-box .count-item:hover { text-decoration: none; background-color: rgb(184, 220, 156); }
.count-box .count-item .cit { display: block; padding-top: 5px; height: 30px; line-height: 30px; }
.count-box .cit i, .count-box .sc-disabled:hover i { display: inline-block; margin-right: 5px; width: 16px; height: 16px; vertical-align: -2px; background: transparent url("icon_bg.png") no-repeat scroll 0% 0%; }
.count-box .count-item .cib { display: block; height: 35px; line-height: 35px; }
.count-box .c-view i { background-position: 0px -75px; }
.count-box .c-view:hover i { background-position: -25px -75px; }
.count-box .c-like i { background-position: -50px -75px; }
.count-box .c-like:hover i { background-position: -75px -75px; }
.count-box .c-cmt i { background-position: -150px -75px; }
.count-box .c-cmt:hover i { background-position: -175px -75px; }
.count-3 .count-item { width: 89px; }
.icon-manager, .icon-star, .icon-approve { display: inline-block; margin-left: 3px; vertical-align: middle; background: transparent url("icon_bg.png") no-repeat scroll 0% 0%; }
.icon-approve { width: 16px; height: 13px; background-position: -100px -150px; }
.detail-box { position: relative; padding: 15px; }
.detail-hd { margin-bottom: 20px; }
.detail-hd .t-head { margin-bottom: 8px; padding-bottom: 5px; border-bottom: 1px solid rgb(212, 212, 212); }
.detail-hd .t-head h2 { float: left; font-size: 30px; font-weight: normal; color: rgb(50, 50, 50); max-width: 500px; }
.detail-hd .t-head .turn { float: right; }
.detail-hd .t-foot { color: rgb(154, 154, 154); }
.detail-hd .t-foot span { margin-right: 15px; }
.detail-hd .t-foot a { margin-right: 5px; color: rgb(0, 84, 166); }
.detail-hd .t-foot a:hover { text-decoration: underline; }
.detail-bd { margin-bottom: 10px; line-height: 1.8; font-size: 16px; color: rgb(50, 50, 50); word-wrap: break-word; }
.detail-bd a { color: rgb(114, 185, 57); }
.turn a { display: inline-block; margin-left: 10px; width: 36px; height: 36px; vertical-align: middle; background: transparent url("turn.png") no-repeat scroll 0% 0%; }
.turn .prev { background-position: 0px 0px; }
.turn .prev:hover { background-position: 0px -95px; }
.turn .dir { background-position: 0px -238px; }
.turn .dir:hover { background-position: 0px -190px; }
.turn .next { background-position: 0px -48px; }
.turn .next:hover { background-position: 0px -143px; }
.tabbar .tab-nav { height: 40px; line-height: 40px; font-size: 16px; color: rgb(114, 185, 57); border-bottom: 1px solid rgb(212, 212, 212); background-color: rgb(244, 244, 244); }
.tabbar .tab-nav .item { float: left; padding: 0px 20px; height: 40px; cursor: pointer; border-right: 1px solid rgb(212, 212, 212); }
.tabbar .tab-nav .selected { margin-top: -1px; height: 39px; color: rgb(51, 51, 51); border-top: 3px solid rgb(114, 185, 57); border-bottom: 0px none; border-radius: 5px 5px 0px 0px; background-color: rgb(255, 255, 255); }
.tabbar .tab-wrap { padding: 10px 20px; }
.tab-similar { margin-top: 10px; }
.item-content { display: none; }
.cmt-box { padding: 10px 0px 20px; font-size: 16px; }
.cmt-box .cmt-item { position: relative; margin-bottom: 10px; padding-left: 53px; min-height: 53px; line-height: 1.6; color: rgb(50, 50, 50); border-bottom: 1px solid rgb(212, 212, 212); }
.cmt-box form.cmt-item { border-bottom: 0px none; }
.cmt-box .cmt-item:last-child { border-bottom: 0px none; }
.cmt-box .cmt-item .comment-bd, .cmt-box .cmt-item .comment-ft { margin-bottom: 10px; word-wrap: break-word; font-size: 16px; }
.cmt-box .cmt-item .comment-hd { word-wrap: break-word; }
.cmt-box .avatar { top: 0px; }
.cmt-box .cmt-txt { margin-bottom: 10px; min-height: 28px; }
.cmt-box .username { margin-right: 10px; }
.cmt-box .commment-time { color: rgb(153, 153, 153); }
.cmt-textarea { padding: 5px; border: 1px solid rgb(114, 185, 57); }
.cmt-textarea textarea { width: 100%; height: 35px; overflow: hidden; border: 0px none; }
.cmt-btn { margin-right: 10px; padding: 0px 10px; height: 30px; line-height: 30px; font-weight: bold; color: rgb(255, 255, 255); cursor: pointer; vertical-align: middle; border: 0px none; background-color: rgb(114, 185, 57); }
.c-tips { color: rgb(151, 151, 151); vertical-align: middle; }
.at { color: rgb(29, 83, 191) ! important; }
.tab-comment .username { color: rgb(4, 72, 157); font-size: 14px; }
.tab-comment .commment-time { color: rgb(136, 136, 136); font-size: 14px; }
.tab-comment .reply-btn { float: right; color: rgb(114, 185, 57); }
.tab-comment .reply-btn i { display: inline-block; margin-left: 3px; width: 0px; height: 0px; vertical-align: middle; border-width: 5px 5px 0px; border-style: solid; border-color: rgb(114, 185, 57) rgb(255, 255, 255) rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.tab-comment .cmt-txt { line-height: 1.6; }
.tab-comment .reply-item { padding-top: 10px; border-top: 1px dotted rgb(212, 212, 212); border-bottom-style: none; }
.tab-comment .reply-item .avatar { top: 10px; }
.tab-comment .more-comment { margin-bottom: 10px; }
.tab-comment a { color: rgb(114, 185, 57); }
.tab-similar .similar-list { line-height: 1.8; }
.tab-similar .similar-list li { height: 40px; line-height: 40px; border-bottom: 1px dashed rgb(212, 212, 212); }
.tab-similar .similar-list li:last-child { border-bottom: 0px none; }
.tab-similar .similar-list a { font-size: 16px; }
.tab-similar .similar-list .info { float: right; color: rgb(151, 151, 151); }
.tab-similar .similar-list .time { margin-left: 10px; }
.footer { margin-top: 20px; min-width: 1000px; border-top: 8px solid rgb(0, 0, 0); background-color: rgb(52, 57, 60); }
.footer .ft-main { margin-left: auto; margin-right: auto; padding: 15px 0px; width: 1000px; line-height: 1.8; }
.footer .ft-main h3 { color: rgb(126, 130, 131); }
.footer .ft-main a { color: rgb(126, 130, 131); }
.footer .ft-main a:hover { color: rgb(186, 188, 189); }
.footer .ft-col { float: left; padding-right: 20px; margin-right: 25px; height: 196px; background: transparent url("bottom_solid.png") no-repeat scroll right center; }
.footer .ft-intro { float: left; padding-right: 20px; width: 574px; color: rgb(126, 130, 131); background: transparent url("bottom_solid.png") no-repeat scroll right center; }
.footer .ft-intro .btm-logo { background: transparent url("bottom_logo.png") no-repeat scroll 480px 105px; }
.footer .copyright { margin-top: 20px; font-weight: bold; }
.change-name { padding: 20px; }
.change-name .lab { display: inline-block; height: 25px; line-height: 25px; vertical-align: middle; }
.change-name .text { margin: 0px 10px; padding: 2px; width: 230px; height: 20px; line-height: 20px; vertical-align: middle; border: 1px solid rgb(212, 212, 212); }
.change-name .btn { padding: 0px 10px; height: 26px; line-height: 26px; vertical-align: middle; cursor: pointer; border: 1px solid rgb(204, 204, 204); border-radius: 3px; background-color: rgb(245, 245, 245); background-image: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(224, 224, 224)); }
.change-name .error-tips { width: 340px; }
.error-tips { margin-bottom: 10px; padding: 5px 10px; line-height: 1.6; color: rgb(185, 74, 72); border: 1px solid rgb(225, 225, 232); border-radius: 4px; background-color: rgb(247, 247, 249); }
.da_word { margin-top: 40px; }
.da-link { padding: 10px; }
.da-link a { color: rgb(114, 185, 57); }
