/* Code tidied up by ScrapBook */
@media (max-width: 767px) {
  body { overflow-x: hidden; }
  .global-nav { height: 44px; width: 100%; text-align: center; z-index: 1000; }
  .global-nav .nav { height: 44px; padding: 0px; }
  .mobile-menu__unreadpoint { width: 6px; height: 6px; background: red none repeat scroll 0% 0%; position: absolute; top: 10px; right: 10px; border-radius: 50%; display: none; }
  .m-toptools { position: absolute; top: 0px; width: 44px; height: 44px; font-size: 18px; line-height: 44px; color: rgb(126, 164, 149); }
  .m-ask { right: 0px; }
  .m-menu { position: absolute; left: 0px; }
  .m-menu .dropdown-menu { margin-top: 44px; }
}
@media (max-width: 1030px) {
}
