/* Code tidied up by ScrapBook */
@keyframes blink {
0% {  }
50% { background-color: transparent; }
100% {  }
}
@media print {
}
.octicon { display: inline-block; vertical-align: text-top; fill: currentcolor; }
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section { display: block; }
a { background-color: transparent; }
a:active, a:hover { outline-width: 0px; }
b, strong { font-weight: inherit; }
b, strong { font-weight: bolder; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border-style: none; }
svg:not(:root) { overflow: hidden; }
code, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }
button, input, select, textarea { font: inherit; margin: 0px; }
button, input { overflow: visible; }
button, select { text-transform: none; }
button, html [type="button"], [type="reset"], [type="submit"] {  }
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0px; }
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted buttontext; }
[type="checkbox"], [type="radio"] { box-sizing: border-box; padding: 0px; }
* { box-sizing: border-box; }
input, select, textarea, button { font-family: inherit; font-size: inherit; line-height: inherit; }
body { font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-size: 14px; line-height: 1.5; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
a { color: rgb(64, 120, 192); text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
strong { font-weight: 600; }
table { border-spacing: 0px; border-collapse: collapse; }
td, th { padding: 0px; }
button { cursor: pointer; }
h1, h2, h3, h4, h5, h6 { margin-top: 0px; margin-bottom: 0px; }
h1 { font-size: 32px; font-weight: 600; }
h2 { font-size: 24px; font-weight: 600; }
h3 { font-size: 20px; font-weight: 600; }
h4 { font-size: 16px; font-weight: 600; }
p { margin-top: 0px; margin-bottom: 10px; }
ul, ol { padding-left: 0px; margin-top: 0px; margin-bottom: 0px; }
tt, code { font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace; font-size: 12px; }
pre { margin-top: 0px; margin-bottom: 0px; font: 12px Consolas,"Liberation Mono",Menlo,Courier,monospace; }
.octicon { vertical-align: text-bottom; }
@media (min-width: 768px) {
}
.btn { position: relative; display: inline-block; padding: 6px 12px; font-size: 14px; font-weight: 600; line-height: 20px; color: rgb(51, 51, 51); white-space: nowrap; vertical-align: middle; cursor: pointer; -moz-user-select: none; background-color: rgb(238, 238, 238); background-image: linear-gradient(rgb(252, 252, 252), rgb(238, 238, 238)); border: 1px solid rgb(213, 213, 213); border-radius: 3px; -moz-appearance: none; }
.btn i { font-style: normal; font-weight: 500; opacity: 0.6; }
.btn .octicon { vertical-align: text-top; }
.btn:focus { text-decoration: none; border-color: rgb(81, 167, 232); outline: medium none; box-shadow: 0px 0px 5px rgba(81, 167, 232, 0.5); }
.btn:focus:hover, .btn.selected:focus { border-color: rgb(81, 167, 232); }
.btn:hover, .btn:active, .btn.zeroclipboard-is-hover, .btn.zeroclipboard-is-active { text-decoration: none; background-color: rgb(221, 221, 221); background-image: linear-gradient(rgb(238, 238, 238), rgb(221, 221, 221)); border-color: rgb(204, 204, 204); }
.btn:active, .btn.selected, .btn.zeroclipboard-is-active { background-color: rgb(220, 220, 220); background-image: none; border-color: rgb(181, 181, 181); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset; }
.btn:disabled, .btn:disabled:hover, .btn.disabled, .btn.disabled:hover { color: rgba(102, 102, 102, 0.5); cursor: default; background-color: rgba(229, 229, 229, 0.5); background-image: none; border-color: rgba(197, 197, 197, 0.5); box-shadow: none; }
.btn-primary { color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15); background-color: rgb(108, 198, 68); background-image: linear-gradient(rgb(145, 221, 112), rgb(85, 174, 46)); border: 1px solid rgb(90, 173, 53); }
.btn-primary:hover, .btn-primary:active, .btn-primary.zeroclipboard-is-hover, .btn-primary.zeroclipboard-is-active { background-color: rgb(85, 165, 50); background-image: linear-gradient(rgb(133, 208, 99), rgb(79, 153, 47)); border-color: rgb(81, 157, 48); }
.btn-primary:active, .btn-primary.selected, .btn-primary.zeroclipboard-is-active { background-color: rgb(75, 145, 44); background-image: none; border-color: rgb(65, 126, 38); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset; }
.btn-primary:disabled, .btn-primary:disabled:hover, .btn-primary.disabled, .btn-primary.disabled:hover { color: rgb(255, 255, 255); cursor: default; background-color: rgb(182, 227, 162); background-image: linear-gradient(rgb(196, 232, 180), rgb(167, 216, 146)); border-color: rgb(167, 221, 143); box-shadow: none; }
.btn-outline { color: rgb(64, 120, 192); background-color: rgb(255, 255, 255); background-image: none; border: 1px solid rgb(229, 229, 229); }
.btn-outline:hover, .btn-outline:active, .btn-outline.selected, .btn-outline.zeroclipboard-is-hover, .btn-outline.zeroclipboard-is-active { color: rgb(255, 255, 255); background-color: rgb(64, 120, 192); background-image: none; border-color: rgb(64, 120, 192); }
.btn-outline:disabled, .btn-outline:disabled:hover, .btn-outline.disabled, .btn-outline.disabled:hover { color: rgb(118, 118, 118); background-color: rgb(255, 255, 255); background-image: none; border-color: rgb(229, 229, 229); }
.btn-with-count { float: left; border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.btn-sm { padding: 3px 10px; font-size: 12px; line-height: 20px; }
.hidden-text-expander { display: block; }
.hidden-text-expander.inline { position: relative; top: -1px; display: inline-block; margin-left: 5px; line-height: 0; }
.hidden-text-expander a, .ellipsis-expander { display: inline-block; height: 12px; padding: 0px 5px 5px; font-size: 12px; font-weight: bold; line-height: 6px; color: rgb(85, 85, 85); text-decoration: none; vertical-align: middle; background: rgb(221, 221, 221) none repeat scroll 0% 0%; border: 0px none; border-radius: 1px; }
.hidden-text-expander a:hover, .ellipsis-expander:hover { text-decoration: none; background-color: rgb(204, 204, 204); }
.hidden-text-expander a:active, .ellipsis-expander:active { color: rgb(255, 255, 255); background-color: rgb(65, 131, 196); }
.social-count { float: left; padding: 3px 10px; font-size: 12px; font-weight: 600; line-height: 20px; color: rgb(51, 51, 51); vertical-align: middle; background-color: rgb(255, 255, 255); border-width: 1px 1px 1px 0px; border-style: solid solid solid none; border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(221, 221, 221) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.social-count:hover, .social-count:active { text-decoration: none; }
.social-count:hover { color: rgb(64, 120, 192); cursor: pointer; }
.btn-link { display: inline-block; padding: 0px; font-size: inherit; color: rgb(64, 120, 192); text-decoration: none; white-space: nowrap; cursor: pointer; -moz-user-select: none; background-color: transparent; border: 0px none; -moz-appearance: none; }
.btn-link:hover { text-decoration: underline; }
.btn-link:disabled, .btn-link:disabled:hover { color: rgba(102, 102, 102, 0.5); cursor: default; }
.BtnGroup { display: inline-block; vertical-align: middle; }
.BtnGroup::before { display: table; content: ""; }
.BtnGroup::after { display: table; clear: both; content: ""; }
.BtnGroup-item { position: relative; float: left; border-right-width: 0px; border-radius: 0px; }
.BtnGroup-item:first-child { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.BtnGroup-item:last-child { border-right-width: 1px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.BtnGroup-item.selected, .BtnGroup-item:focus, .BtnGroup-item:active, .BtnGroup-item:hover { border-right-width: 1px; }
.BtnGroup-item.selected + .BtnGroup-item, .BtnGroup-item.selected + .BtnGroup-form .BtnGroup-item, .BtnGroup-item:focus + .BtnGroup-item, .BtnGroup-item:focus + .BtnGroup-form .BtnGroup-item, .BtnGroup-item:active + .BtnGroup-item, .BtnGroup-item:active + .BtnGroup-form .BtnGroup-item, .BtnGroup-item:hover + .BtnGroup-item, .BtnGroup-item:hover + .BtnGroup-form .BtnGroup-item { border-left-width: 0px; }
.BtnGroup-form { float: left; }
.BtnGroup-form:first-child .BtnGroup-item { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.BtnGroup-form:last-child .BtnGroup-item { border-right-width: 1px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.BtnGroup-form .BtnGroup-item { border-right-width: 0px; border-radius: 0px; }
.BtnGroup-form.selected .BtnGroup-item, .BtnGroup-form:focus .BtnGroup-item, .BtnGroup-form:active .BtnGroup-item, .BtnGroup-form:hover .BtnGroup-item { border-right-width: 1px; }
.BtnGroup-form.selected + .BtnGroup-item, .BtnGroup-form.selected + .BtnGroup-form .BtnGroup-item, .BtnGroup-form:focus + .BtnGroup-item, .BtnGroup-form:focus + .BtnGroup-form .BtnGroup-item, .BtnGroup-form:active + .BtnGroup-item, .BtnGroup-form:active + .BtnGroup-form .BtnGroup-item, .BtnGroup-form:hover + .BtnGroup-item, .BtnGroup-form:hover + .BtnGroup-form .BtnGroup-item { border-left-width: 0px; }
input, textarea { font-feature-settings: "liga" off; }
label { font-weight: 600; }
.form-control, .form-select { min-height: 34px; padding: 6px 8px; font-size: 14px; line-height: 20px; color: rgb(51, 51, 51); vertical-align: middle; background-color: rgb(255, 255, 255); background-repeat: no-repeat; background-position: right 8px center; border: 1px solid rgb(221, 221, 221); border-radius: 3px; outline: medium none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075) inset; }
.form-control.focus, .form-control:focus, .form-select.focus, .form-select:focus { border-color: rgb(81, 167, 232); outline: medium none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075) inset, 0px 0px 5px rgba(81, 167, 232, 0.5); }
*::-moz-placeholder { color: rgb(153, 153, 153); }
.input-sm { min-height: 28px; padding-top: 3px; padding-bottom: 3px; font-size: 12px; line-height: 20px; }
.input-monospace { font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.container { width: 980px; margin-right: auto; margin-left: auto; }
.container::before { display: table; content: ""; }
.container::after { display: table; clear: both; content: ""; }
.col-11 { width: 91.6667%; }
@media (min-width: 544px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 544px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1280px) {
}
.counter { display: inline-block; padding: 2px 5px; font-size: 12px; font-weight: 600; line-height: 1; color: rgb(102, 102, 102); background-color: rgb(238, 238, 238); border-radius: 20px; }
.tooltipped { position: relative; }
.tooltipped::after { position: absolute; z-index: 1000000; display: none; padding: 5px 8px; font: 11px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; color: rgb(255, 255, 255); text-align: center; text-decoration: none; text-shadow: none; text-transform: none; letter-spacing: normal; word-wrap: break-word; white-space: pre; pointer-events: none; content: attr(aria-label); background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%; border-radius: 3px; opacity: 0; }
.tooltipped::before { position: absolute; z-index: 1000001; display: none; width: 0px; height: 0px; color: rgba(0, 0, 0, 0.8); pointer-events: none; content: ""; border: 5px solid transparent; opacity: 0; }
@keyframes tooltip-appear {
0% { opacity: 0; }
100% { opacity: 1; }
}
.tooltipped:hover::before, .tooltipped:hover::after, .tooltipped:active::before, .tooltipped:active::after, .tooltipped:focus::before, .tooltipped:focus::after { display: inline-block; text-decoration: none; animation-name: tooltip-appear; animation-duration: 0.1s; animation-fill-mode: forwards; animation-timing-function: ease-in; animation-delay: 0.4s; }
.tooltipped-s::after, .tooltipped-se::after, .tooltipped-sw::after { top: 100%; right: 50%; margin-top: 5px; }
.tooltipped-s::before, .tooltipped-se::before, .tooltipped-sw::before { top: auto; right: 50%; bottom: -5px; margin-right: -5px; border-bottom-color: rgba(0, 0, 0, 0.8); }
.tooltipped-sw::after { margin-right: -15px; }
.tooltipped-s::after, .tooltipped-n::after { transform: translateX(50%); }
@media not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.css-truncate.css-truncate-target, .css-truncate .css-truncate-target { display: inline-block; max-width: 125px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: top; }
@keyframes fade-in {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fade-up {
0% { opacity: 0.8; transform: translateY(100%); }
100% { opacity: 1; transform: translateY(0px); }
}
@keyframes fade-down {
0% { opacity: 1; transform: translateY(0px); }
100% { opacity: 0.5; transform: translateY(100%); }
}
@keyframes grow-x {
100% { width: 100%; }
}
@keyframes shrink-x {
100% { width: 0%; }
}
@keyframes scale-in {
0% { opacity: 0; transform: scale(0.5); }
100% { opacity: 1; transform: scale(1); }
}
@keyframes pulse {
0% { opacity: 0.3; }
10% { opacity: 1; }
100% { opacity: 0.3; }
}
@keyframes pulse-in {
0% { transform: scale3d(1, 1, 1); }
50% { transform: scale3d(1.1, 1.1, 1.1); }
100% { transform: scale3d(1, 1, 1); }
}
.text-gray-dark { color: rgb(51, 51, 51) ! important; }
.muted-link { color: rgb(118, 118, 118) ! important; }
.muted-link:hover { color: rgb(64, 120, 192) ! important; text-decoration: none; }
.clearfix::before { display: table; content: ""; }
.clearfix::after { display: table; clear: both; content: ""; }
.float-right { float: right ! important; }
.float-left { float: left ! important; }
@media (min-width: 544px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1280px) {
}
.d-none { display: none ! important; }
@media (min-width: 544px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1280px) {
}
@media (max-width: 544px) {
}
@media (min-width: 544px) and (max-width: 768px) {
}
@media (min-width: 768px) and (max-width: 1004px) {
}
@media (min-width: 1004px) {
}
@media (min-width: 544px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 544px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1280px) {
}
.mb-1 { margin-bottom: 4px ! important; }
.mt-2 { margin-top: 8px ! important; }
.mb-2 { margin-bottom: 8px ! important; }
@media (min-width: 544px) {
}
@media (min-width: 544px) {
}
@media (min-width: 544px) {
}
@media (min-width: 544px) {
}
@media (min-width: 544px) {
}
@media (min-width: 544px) {
}
@media (min-width: 544px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1280px) {
}
.pb-0 { padding-bottom: 0px ! important; }
@media (min-width: 544px) {
}
@media (min-width: 544px) {
}
@media (min-width: 544px) {
}
@media (min-width: 544px) {
}
@media (min-width: 544px) {
}
@media (min-width: 544px) {
}
@media (min-width: 544px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.text-small { font-size: 12px ! important; }
@media (min-width: 544px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1012px) {
}
@media (min-width: 1280px) {
}
.text-emphasized { font-weight: 600; color: rgb(51, 51, 51); }
